body {
	margin:0;
	font-family: Helvetica;
	background: whitesmoke;
}

#logo {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

h1 {
	font-weight: 100;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;

}